/* --------------------------------------------------------------------------------global */

.App {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 100vh;
  background: url('../public/images/background-2.jpg');
  background-repeat: no-repeat;
  background-size: cover;  
}

a {
  color: #d64933;
  transition: .5s;
}

a:hover {
  color: #5e807f
}

.auth{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* --------------------------------------------------------------------------------header */

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color:#dee5e5;
  background-color: #2a2b2e;
}

#logo{
  display: flex;
  align-items: center;
  margin: 10px;
}

header h1{
  margin: 0 10px;
}

@media screen and (min-width: 1007px){
  #header-logo{
    width: 96px;
    height: 96px;
  }  
}
@media screen and (min-width: 641px) and (max-width: 1006px){
  #header-logo{
    width: 50px;
    height: 50px;
  }
}
@media screen and (max-width: 640px){
  #header-logo{
    width: 32px;
    height: 32px;
  }
  header h1{
    display: none;
  }
}

/* --------------------------------------------------------------------------------main section */

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
  height: 95%;
  opacity: .85;
  background-color: #d64933;
  border-radius: 5px;
}

.modal-content {
  background-color: #dee5e5;
}

.modal-header {
  color: #5e807f
}

.modal-body button{
  margin-top: 20px;
  background-color: #dee5e5;
  transition: .5s;
  border: 0;
  border-radius: 10px;
  height: 50px;
}

.modal-body button:hover {
  background-color: #d64933;
}

.modal-body input {
  margin: 5px 0;
}

#signUpModal {
  width: 250px;
}

.modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

#results {
  width: 100%;
  background-color: #d64933;
  border-radius: 10px;
  color: #f4f6f6;
}

.resultsCard {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
  background-color: #dee5e5;
  color: #2a2b2e;
}

.resultsCard img {
  width: 250px;
}


/* --------------------------------------------------------------------------------footer */

footer{
  background-color: #2a2b2e;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}