.App {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 100vh;
}

#background {
  /* opacity: 0.75; */
  position: absolute;
  z-index: -1;
  top: 0;
  max-width: 100%;
  min-height: 100vh;
}

.auth {
  background-color: #dee5e5;
  border-radius: 10px;
  width: 100%;
}

a {
  color: #d64933;
  transition: .5s;
}

a:hover {
  color: #5e807f
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color:#dee5e5;
}

header button {
  width: 220px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 100%;
}

.loginForm {
  display: flex;
  width: 600px;
  height: 50px;
  margin: 10px;
}

.loginForm input {
  margin: 0 5px;
}

.loginForm button {
  margin: 0 5px;
}



.signupForm {
  width: 200px;
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.modal-content {
  background-color: #dee5e5;
}

.modal-header {
  color: #5e807f
}

.modal-body button{
  margin-top: 20px;
  background-color: #dee5e5;
  transition: .5s;
  border: 0;
  border-radius: 10px;
  height: 50px;
}

.modal-body button:hover {
  background-color: #d64933;
}

.modal-body input {
  margin: 5px 0;
}

#signUpModal {
  width: 250px;
}

.modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

#results {
  width: 100%;
  background-color: #d64933;
  border-radius: 10px;
  color: #f4f6f6;
}

.resultsCard {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
  background-color: #dee5e5;
  color: #2a2b2e;
}

.resultsCard img {
  width: 250px;
}
